
.edit-message-modal{
  visibility: hidden;
  border: 1px solid gray;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 160px;
  background-color: #fff;
}

.edit-message-input{
  width: 100%;
  height: 100px;
}

.controls{
  text-align: center;
  margin-top: 30px
}

.controls button{
  width: 160px;
  height: 25px;
}
.edit-message-button{
  margin-right: 20px;
}

.modal-shown{
  visibility: visible;
}