.own-message{
  width: 55%;
  margin: 0 0 0 44%;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.addition-opt{
  display: flex;
  padding: 0 10px 5px 10px;
  margin-top: 20px;
}

.message-time{
  flex: 1;
}
.message-edit{
  flex: .2;
}
.message-delete{
  flex: .2;
}